<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WorkingTimeRecorder.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <WorkingTimeRecorder.Settings>
            <setting name="startWorkTime" serializeAs="String">
                <value />
            </setting>
            <setting name="savePath" serializeAs="String">
                <value />
            </setting>
            <setting name="pointX" serializeAs="String">
                <value>999999999</value>
            </setting>
            <setting name="pointY" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="comboBoxGetTime" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="localNet" serializeAs="String">
                <value />
            </setting>
            <setting name="extranet" serializeAs="String">
                <value>https://www.baidu.com</value>
            </setting>
            <setting name="color" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="topMost" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="inFo1" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="inFo2" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="inFoTime" serializeAs="String">
                <value>9</value>
            </setting>
            <setting name="inFoMessageBox" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="autoStart" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="font" serializeAs="String">
                <value>Microsoft Sans Serif, 26.2499981pt</value>
            </setting>
            <setting name="showMainForm" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="showInTaskBar" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="vacationDays" serializeAs="String">
                <value>0</value>
            </setting>
        </WorkingTimeRecorder.Settings>
    </userSettings>
</configuration>